$color_primario: #E7D4B3;
$color_secundario: chocolate;   
$color_terciario: rgb(128, 69, 27);
$color_img: url(https://previews.123rf.com/images/zinako/zinako1708/zinako170800232/84804259-hermoso-patr%C3%B3n-transparente-con-dibujos-animados-perros-lindos-raza-boxeador-bueno-para-fondo-de.jpg);


$tam_img_logo: 103px;
$border_radio: 10px;
