$tipografia_primaria: Montserrat;
$tipografia_secundaria: Hind;

$tipografia_tam_pri: 2rem;
$tipografia_tam_sec: 1rem;
$tipografia_tam_ter:.8rem;
$tipografia_grosor_600: 600;
$tipografia_grosor_300: 300;